@model IEnumerable<qlbanhang.ViewModel.ProductViewModel>
@{
    Layout = "_LayoutUser";
}
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
	<div class="container-fluid">
		<div class="inner-sec-shop px-lg-4 px-3">
			<h3 class="tittle-w3layouts my-lg-4 my-4">Search Product</h3>
			<div class="row">
				<!-- /womens -->
				@await Html.PartialAsync("ProductItemView",Model)
			</div>
			<!-- //womens -->
			<!-- /mens -->		
			<!--//row-->
			<!-- /grids -->
			<div class="bottom-sub-grid-content py-lg-5 py-3">
				<div class="row">
					<div class="col-lg-4 bottom-sub-grid text-center">
						<div class="bt-icon">

							<span class="far fa-hand-paper"></span>
						</div>

						<h4 class="sub-tittle-w3layouts my-lg-4 my-3">Satisfaction Guaranteed</h4>
						<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
						<p>
							<a href="shop.html" class="btn btn-sm animated-button gibson-three mt-4">Shop Now</a>
						</p>
					</div>
					<!-- /.col-lg-4 -->
					<div class="col-lg-4 bottom-sub-grid text-center">
						<div class="bt-icon">
							<span class="fas fa-rocket"></span>
						</div>

						<h4 class="sub-tittle-w3layouts my-lg-4 my-3">Fast Shipping</h4>
						<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
						<p>
							<a href="shop.html" class="btn btn-sm animated-button gibson-three mt-4">Shop Now</a>
						</p>
					</div>
					<!-- /.col-lg-4 -->
					<div class="col-lg-4 bottom-sub-grid text-center">
						<div class="bt-icon">
							<span class="far fa-sun"></span>
						</div>

						<h4 class="sub-tittle-w3layouts my-lg-4 my-3">UV Protection</h4>
						<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
						<p>
							<a href="shop.html" class="btn btn-sm animated-button gibson-three mt-4">Shop Now</a>
						</p>
					</div>
					<!-- /.col-lg-4 -->
				</div>
			</div>
			<!-- //grids -->
			<!-- /clients-sec -->
			<div class="testimonials p-lg-5 p-3 mt-4">
				<div class="row last-section">
					<div class="col-lg-3 footer-top-w3layouts-grid-sec">
						<div class="mail-grid-icon text-center">
							<i class="fas fa-gift"></i>
						</div>
						<div class="mail-grid-text-info">
							<h3>Genuine Product</h3>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
					<div class="col-lg-3 footer-top-w3layouts-grid-sec">
						<div class="mail-grid-icon text-center">
							<i class="fas fa-shield-alt"></i>
						</div>
						<div class="mail-grid-text-info">
							<h3>Secure Products</h3>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
					<div class="col-lg-3 footer-top-w3layouts-grid-sec">
						<div class="mail-grid-icon text-center">
							<i class="fas fa-dollar-sign"></i>
						</div>
						<div class="mail-grid-text-info">
							<h3>Cash on Delivery</h3>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
					<div class="col-lg-3 footer-top-w3layouts-grid-sec">
						<div class="mail-grid-icon text-center">
							<i class="fas fa-truck"></i>
						</div>
						<div class="mail-grid-text-info">
							<h3>Easy Delivery</h3>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
				</div>
			</div>
			<!-- //clients-sec -->
		</div>
	</div>
</section>